<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
  <%- include('./partials/nav'); %>
  <article>
    <div class="info">
      <span><%= post.date %></span>
      <span><%= post.author %></span>
    </div>
    <h1><%= post.title %></h1>
    <%- post.content %>
  </article>
</body>
</html>
